extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let DogID = toShow._id
    - let dogType = toShow.dogType
    - let price = toShow.price
    - let color = toShow.color
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{DogID}
    - let actionid = "/resource/Dogs/" + DogID
    form(id='DogForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='dogType') Dog  Type
            input#dogType(type='text', name='dogType', value= dogType )
        div.form-group
            label.costumeAttr(for='price') Dog Price
            input#price(type='number', name='price', value= price )
        div.form-group
            label.costumeAttr(for='location') Dog Capacity
            input#color(type='text', name='color', value= color  )

        input(type="submit")

    script.
        document.forms['DogForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });